<% provide(:title, "Dashboard") %>


<div id="restofpage">
  <%= render 'shared/flashes' %>
  <%= render 'shared/navbar' %>

  <div class="dash-background">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2">
          <div class="dash-container">


            <h1><%= @user.first_name %> <%= @user.last_name %></h1>
            <h3><%= @user.email %></h3>
            <p>Member since <%= @user.created_at.strftime("%B %Y") %> </p>

            <% if @user.is_mechanic %>
              <%= link_to tickets_path do %>
                <div class="markbutton">FIND NEW BIKE TO FIX</div>
              <% end %>
            <% else %>
              <%= link_to tickets_path do %>
                <div class="markbutton">BECOME A MECHANIC</div>
              <% end %>
            <% end %>

            <%= link_to new_ticket_path do %>
              <div class="markbutton">CREATE NEW TICKET</div>
            <% end %>

            <%= link_to edit_user_registration_path do %>
                <div class="editbutton">EDIT PROFILE</div>
            <% end %>

            <% if @user.is_mechanic && @user.responses.count != 0 %>
              <h2>Tickets You Responded To</h2>
                <% @user.responses.each do |response|%>
                  <%= link_to ticket_path(response.ticket) do %>
                    <div class="ticketList">
                      <%= "TICKET # #{response.ticket_id}" %>
                    </div>
                  <% end %>
                <% end %>
            <% end %>
            <hr>
            <% if @user.tickets.count != 0 %>
              <h2>Your Tickets</h2>
              <% @user.tickets.each do |ticket| %>
                <%= link_to ticket_path(ticket) do %>
                  <div class="ticketList">
                    <%= "TICKET # #{ticket.id}" %>
                  </div>
                <% end %>
              <% end %>
            <% end %>

            <div class="back1">
                <%= link_to :back do%><i class="fas fa-long-arrow-alt-left"></i><strong>back</strong><% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




