<% provide(:title, "Dashboard") %>


<div id="restofpage">
  <%= render 'shared/flashes' %>
  <%= render 'shared/navbar' %>

  <div class="dash-background">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2">
          <div class="dash-container">


            <h1><%= @user.first_name %> <%= @user.last_name %></h1>
            <p>Member since <%= @user.created_at.strftime("%B %Y") %> </p>

            <% if @user.is_mechanic %>
              <%= link_to tickets_path do %>
                <div class="markbutton">FIND NEW BIKE TO FIX</div>
              <% end %>
            <% else %>
              <%= link_to edit_user_registration_path do %>
                <div class="markbutton">BECOME A MECHANIC</div>
              <% end %>
            <% end %>

            <%= link_to new_ticket_path do %>
              <div class="markbutton">CREATE NEW TICKET</div>
            <% end %>

            <%= link_to edit_user_registration_path do %>
                <div class="editbutton">EDIT PROFILE</div>
            <% end %>


            <% if @user.is_mechanic && @user.responses.count != 0 %>
              <div class="responsescontainer">
                <h2>Tickets You Responded To</h2>
                  <% myarray = [] %>
                  <% sortedResponses = @user.responses.sort_by {|obj| obj.created_at}.reverse %>
                  <% sortedResponses.each_with_index do |response, responseindex|%>
                    <% unless myarray.include? response.ticket_id %>
                      <% myarray.push(response.ticket_id)%>
                      <% if myarray.length <= 5 %>
                        <%= link_to ticket_path(response.ticket) do %>
                          <div class="ticketList">
                            <h3><%= "TICKET # #{response.ticket_id}" %></h3>
                            <p><%= "on: #{response.created_at.strftime('%b %e, %l:%M %p')}" %></p>
                          </div>
                        <% end %>
                      <% else %>
                        <%= link_to ticket_path(response.ticket) do %>
                          <div class="ticketList hidden">
                            <h3><%= "TICKET # #{response.ticket_id}" %></h3>
                            <p><%= "on: #{response.created_at.strftime('%b %e, %l:%M %p')}" %></p>
                          </div>
                        <% end %>
                      <% end %>
                    <% end %>
                  <% end %>
                  <% if myarray.length > 5 %>
                    <div class="editbutton" id="viewmoreresponses">View more</div>
                  <% end %>
              </div>
            <% end %>
            <hr>


            <% if @user.tickets.count != 0 %>
              <h2>Your Tickets</h2>
              <% @user.tickets.each do |ticket| %>
                <%= link_to ticket_path(ticket) do %>
                  <div class="ticketList">
                    <%= "TICKET # #{ticket.id}" %>
                  </div>
                <% end %>
              <% end %>
            <% end %>

            <div class="back1">
                <%= link_to :back do%><i class="fas fa-long-arrow-alt-left"></i><strong>back</strong><% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<script>
  document.querySelectorAll(".navbar-derails")[1].style.backgroundColor = "rgb(242,233,217)";

  document.querySelector("#viewmoreresponses").addEventListener("click", (e) => {
    document.querySelector(".responsescontainer").querySelectorAll(".hidden").forEach((element) => {
      element.classList.remove("hidden");
      document.querySelector("#viewmoreresponses").classList.add("hidden");
    })
  })

</script>
