<% provide(:title, "Home") %>


<div id="restofpage">
  <div class="mainbackground"></div>
    <%= render 'shared/flashes' %>
    <%= render 'shared/navbar' %>


    <div class="container">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
          <%= link_to new_ticket_path do%>
            <div class="mainbutton">
              <h4>FIX MY BIKE</h4>
            </div>
          <% end %>
        </div>
      </div>
    </div>


    <div class="howitworks" id="discover">
      <div class="container">

        <div class="row step">
          <div class="col-xs-12 col-sm-6 col-sm-offset-3  ">
            <center><h1>HOW IT WORKS</h1></center>
          </div>
        </div>

        <div class="row step">
          <div class="col-xs-12 col-sm-4 ">
            <div class="divstep1">
              <%= image_tag("derails-drawings-02.svg", id: "step1image") %>
            </div>
          </div>
          <div class="col-xs-12 col-sm-8 ">
            <div class="step1title">
              <p class="stepnumber">01.</p>
                <h3>Create a ticket</h3>
              <div class="subheaders">
                POST YOUR BIKE ISSUES
              </div>
              <ul>
                <li>choose from our filters</li>
                <li>write a short description</li>
                <li>upload pictures</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="row step">
          <div class="col-xs-12 col-sm-7 ">
            <div class="step2title">
              <p class="stepnumber">02.</p>
              <h3>Connect with a Mechanic</h3>
              <p class="subtext">Pick from responses</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-5 ">
            <div class="divstep2">
              <%= image_tag("derails-drawings-03.svg", id: "step2image") %>
            </div>
          </div>
        </div>
        <center>
          <%= link_to new_user_registration_path do %>
            <p class="calltoactionhome">- SIGN ME UP -</p>
          <% end %>
        </center>
        <div class="row step">
          <div class="col-xs-12 col-sm-5">

            <div class="divstep3">
              <%= image_tag("derails-drawings-04.svg", id: "step3image") %>
            </div>
          </div>
          <div class="col-xs-12 col-sm-7 ">
            <div class="step3title">
              <p class="stepnumber">03.</p>
              <h3>Accept & Make an Appointment</h3>
              <div class="subheaders">
                MEET UP TIME
              </div>
            </div>
          </div>
        </div>
        <div class="row step">
          <div class="col-xs-12 col-sm-4 ">
            <div class="step4title">
              <p class="stepnumber">04.</p>
              <h3>Bike is fixed!</h3>
              <p class="subtext">Ride away dear urbanite.</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-8 ">
            <div class="divstep4">
              <%= image_tag("derails-drawings-05.svg", id: "step4image") %>
            </div>
          </div>
        </div>
        <div class="row step">
          <div class="col-xs-12 col-sm-4 ">
            <div class="divstep5">
              <%= image_tag("derails-drawings-06.svg", id: "step5image") %>
            </div>
          </div>
          <div class="col-xs-12 col-sm-8">
            <center>
              <div class="step5title">
                <p class="stepnumber">05.</p>
                <span><h3>Share the news!</h3>
                <p class="subtext"><%= link_to "Tag us on Instagram @derails.app", "https://www.instagram.com/derails.app/" %><br>Follow us on Facebook /derails.app</p>
              </div>
            <center>
          </div>

          <div class="col-xs-12">
            <center>
              <%= link_to new_ticket_path do %>
                <p class="calltoactionhome">TRY IT FOR FREE</p>
              <% end %>
            </center>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<script>
  if( document.querySelector("#specialcase1") == null ) {
    document.querySelector("#specialcase2").addEventListener("click", (e) => {
      document.querySelector(".menupopup").classList.toggle("hidden");
      document.querySelector("#restofpage").classList.toggle("hidden");
      console.log(e)
    })
  }
  else {
    document.querySelector("#specialcase1").addEventListener("click", (e) => {
      document.querySelector(".menupopup").classList.toggle("hidden");
      document.querySelector("#restofpage").classList.toggle("hidden");
    })
  }




  document.addEventListener("scroll", (e) => {
    if (document.querySelector(".howitworks").offsetTop < window.pageYOffset) {
      document.querySelectorAll(".navbar-derails").forEach((x) => {
        x.style.background= "rgb(61,111,75)";
        x.style.borderBottom="1px solid rgb(141,205,160)";
      })
    }
    else {
      document.querySelectorAll(".navbar-derails").forEach((x) => {
        x.style.background= "";
        x.style.border=""
      })
    }
  })
</script>

