<% provide(:title, "Ticket Details") %>


<div id="restofpage">
    <%= render 'shared/flashes' %>
    <%= render 'shared/navbar' %>

    <div class="dash-background">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2">
            <div class="ticketdetailscard">
              <h2>TICKET #<%= @ticket.id %></h2>
              <br>
              <p>Created <%= @ticket.created_at.strftime("%b %e, %l:%M %p") %></p>
              <p><%= @ticket.address %></p>
              <% if @ticket.responses.count > 0 %>
                <% lowest = 100000 %>
                <% @ticket.responses.each do |response| %>
                  <% if response.price < lowest %>
                    <% lowest = response.price %>
                  <% end %>
                <% end %><br>
                <p><strong>Current lowest bid is $<%= lowest %></strong></h4>
              <% end %>

              <% if @ticket.tune_up or @ticket.brakes or @ticket.flat_tire or @ticket.chain or @ticket.gears or @ticket.wheels or @ticket.frame %>
                <h3>SELECTED ISSUES</h3>
                <% if @ticket.tune_up == true %>
                  <div class="filter">Tune Up</div>
                <% end %>
                <% if @ticket.brakes == true %>
                  <div class="filter">Brakes</div>
                <% end %>
                <% if @ticket.flat_tire == true %>
                  <div class="filter">Flat tire</div>
                <% end %>
                <% if @ticket.chain == true %>
                  <div class="filter">Chain</div>
                <% end %>
                <% if @ticket.gears == true %>
                  <div class="filter">Gears</div>
                <% end %>
                <% if @ticket.wheels == true %>
                  <div class="filter">Wheels</div>
                <% end %>
                <% if @ticket.frame == true %>
                  <div class="filter">Frame</div>
                <% end %>
              <% end %>

              <% if @ticket.photo_1.file or @ticket.photo_2.file or @ticket.photo_3.file %>
                <h3>PICTURES</h3>
              <% end %>

              <% if @ticket.photo_1.file %>
                <%= cl_image_tag @ticket.photo_1, height: 320, width: 320, crop: :fill %>
              <% end %>
              <% if @ticket.photo_2.file %>
                <%= cl_image_tag @ticket.photo_2, height: 320, width: 320, crop: :fill %>
              <% end %>
              <% if @ticket.photo_3.file %>
                <%= cl_image_tag @ticket.photo_3, height: 320, width: 320, crop: :fill %>
              <% end %>
              <br>
              <br>
              <h3>DESCRIPTION</h3>
              <div class="ticketdescription">
                <p><%= @ticket.description %></p>
              </div>

              <% if policy(@ticket).edit? %>
                <% if @ticket.status == "pending" %>
                  <%= link_to edit_ticket_path(@ticket) do%>
                    <div class="editbutton">EDIT</div>
                  <% end %>
                    <%= link_to "/tickets/#{@ticket.id}", method: "change_status" do%>
                      <div class="markbutton">MARK AS COMPLETE</div>
                    <% end %>
                  <% end %>
                  <%= link_to "/tickets/#{@ticket.id}", method: "delete" do%>
                    <div class="deletebutton">DELETE</div>
                  <% end %>

              <% elsif current_user.is_mechanic==true %>
                  <div class="markbutton" id="showform">WANT TO FIX THIS BIKE?</div>
                  <div class="hidden" id="fillForm">
                    <%= simple_form_for ([@ticket, @response]) do |f| %>
                      <%= f.input :content, input_html: {class: 'checkboxverify'}%>
                      <%= f.input :price, input_html: {class: 'checkboxverify'} %>
                      <%= f.input :contact, input_html: {class: 'checkboxverify'} %>
                      <%= f.button :submit,  class: "answer-button hidden" %>
                        <div class="next3">
                          Answer
                        </div>
                    <% end %>

                  </div>


              <% end %>

                <div class="back1">
                  <%= link_to :back do%><i class="fas fa-long-arrow-alt-left"></i><strong>back</strong><% end %>
                </div>
            </div>


          </div>
        </div>
      </div>
    </div>

</div>


<script>
  document.querySelectorAll(".navbar-derails")[1].style.backgroundColor = "rgb(242,233,217)";

  document.querySelector("#showform").addEventListener("click", (event) => {
    document.querySelector("#showform").classList.toggle("hidden");
    document.querySelector("#fillForm").classList.toggle("hidden");
  })

  const checkboxes = document.querySelectorAll(".checkboxverify")
  document.querySelector(".next3").addEventListener("click", (e) => {
    checkboxes.forEach((element) => {
      element.addEventListener("focus", (e) => {
        element.style.border="";
      })
      if (element.value.trim() == "") {
        element.style.border="2px solid red";
      }
    })

      if (checkboxes[0].value.trim() != "" && checkboxes[1].value.trim() != "" && checkboxes[2].value.trim() != "" ) {
        document.querySelector(".answer-button").click()
      }
  })



</script>
