<% provide(:title, "Your Ticket Details") %>


<div id="restofpage">
    <%= render 'shared/flashes' %>
    <%= render 'shared/navbar' %>

    <div class="dash-background">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2">
            <div class="ticketdetailscard">
              <h2>Your Ticket Details</h2>

              <p><%= @ticket.id %></p>


              <h3>Tags</h3>
    <% if @ticket.tune_up == true %>
      <div class="filter">Tune Up</div>
    <% end %>
    <% if @ticket.brakes == true %>
      <div class="filter">Brakes</div>
    <% end %>
    <% if @ticket.flat_tire == true %>
      <div class="filter">Flat tire</div>
    <% end %>
    <% if @ticket.chain == true %>
      <div class="filter">Chain</div>
    <% end %>
    <% if @ticket.gears == true %>
      <div class="filter">Gears</div>
    <% end %>
    <% if @ticket.wheels == true %>
      <div class="filter">Wheels</div>
    <% end %>
    <% if @ticket.frame == true %>
      <div class="filter">Frame</div>
    <% end %>


    <% if @ticket.photo_1.file %>
    <%= cl_image_tag @ticket.photo_1 %>
    <% end %>

    <h3>Description</h3>
    <p><%= @ticket.address %></p>
    <p><%= @ticket.description %></p>

    <% if policy(@ticket).edit? %>
      <% if @ticket.status == "pending" %>
        <%= link_to edit_ticket_path(@ticket) do%>
          <div class="editbutton">EDIT</div>
        <% end %>
          <%= link_to "/tickets/#{@ticket.id}", method: "change_status" do%>
            <div class="markbutton">MARK AS COMPLETE</div>
          <% end %>
        <% end %>
        <%= link_to "/tickets/#{@ticket.id}", method: "delete" do%>
          <div class="deletebutton">DELETE</div>
        <% end %>

    <% elsif current_user.is_mechanic==true %>

        <%= simple_form_for ([@ticket, @response]) do |f| %>
          <%= f.input :content %>
          <%= f.input :price %>
          <%= f.input :contact %>
          <%= f.submit %>
        <% end %>

    <% end %>

      <div class="back1">
        <%= link_to ticket_path(@ticket) do%><i class="fas fa-long-arrow-alt-left"></i><strong>back</strong><% end %>
      </div>
            </div>


          </div>
        </div>
      </div>
    </div>

</div>

