<% provide(:title, "Tickets") %>


<div id="restofpage">
    <%= render 'shared/flashes' %>
    <%= render 'shared/navbar' %>

    <div class="secondaryinvertedbackground">

      <div id="map" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>


      <div class="searchfilters">
        <div class="container">
          <div class="row">

            <%= form_tag tickets_path, method: "get", remote:true, id: "searchform" do%>
              <div class="searchfilter col-xs-3">
                <input type="checkbox" class="filtercheckbox hidden" name="tune_up" value="tune_up">Tune-up
              </div>
              <div class="searchfilter col-xs-3">
                <input type="checkbox" class="filtercheckbox hidden" name="brakes" value="brakes">Brakes
              </div>
              <div class="searchfilter col-xs-3">
                <input type="checkbox" class="filtercheckbox hidden" name="flat_tire" value="flat_tire">Flat Tire
              </div>
              <div class="searchfilter col-xs-3">
                <input type="checkbox" class="filtercheckbox hidden" name="chain" value="chain">Chain

              </div>
              <div class="searchfilter col-xs-3">
                <input type="checkbox" class="filtercheckbox hidden" name="gears" value="gears">Gears
              </div>
              <div class="searchfilter col-xs-3">
                <input type="checkbox" class="filtercheckbox hidden" name="wheels" value="wheels">Wheels
              </div>
              <div class="searchfilter col-xs-3">
                <input type="checkbox" class="filtercheckbox hidden" name="frame" value="frame">Frame
              </div>
              <div class="searchfilter col-xs-3">
                <input type="checkbox" class="filtercheckbox hidden" name="other" value="other">Other
              </div>
              <input class="hidden" type="submit" value="Submit" id="submitSearch">
            <% end %>

          </div>
        </div>
      </div>

      <div class="ticketscontainer">
       <%= render "indexcards" %>
      </div>

      <%= link_to "back", dashboard_path %>

    </div>
</div>

<script>
  document.querySelectorAll(".searchfilter").forEach((filter) => {
    filter.addEventListener("click", (e) => {
      const thisfilter = filter.querySelector(".filtercheckbox");
      if(thisfilter.checked==true){
        thisfilter.checked=false;
        filter.style.background="rgb(141,205,160)";
        filter.style.color="rgb(61,111,75)";
        document.querySelector("#submitSearch").click();
      }
      else {
        thisfilter.checked=true
        filter.style.background="rgb(61,111,75)";
        filter.style.color="rgb(141,205,160)";
        document.querySelector("#submitSearch").click();
      }
    })
  })
</script>
