<% provide(:title, "Your Ticket") %>


<div id="restofpage">

  <%= render 'shared/flashes' %>
  <%= render 'shared/navbar' %>

  <div class="dash-background">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2">
          <div class="ticket-show-card">
            <h2>YOUR TICKET</h2>
            <h5>choose your mechanic</h5>

              <h3><%= "TICKET # #{@ticket.id}" %></h3>
              <p><%= @ticket.created_at.strftime("%F") %></p>

              <% if @ticket.status == "pending" %>
                <div class="status-pending">
                  <%= @ticket.status %>
                </div>
              <% else %>
                <div class="status-completed">
                  <%= @ticket.status %>
                </div>
              <% end %>


              <%= link_to details_path(@ticket) do %>
                <div type="button" class="info-button">
                  VIEW INFO
                </div>
              <% end %>


              <% if @ticket.responses.length == 0 %>
                  <p>There are no answers yet!</p>
              <% else %>

                  <h2>YOUR MESSAGES</h2>
                  <% @ticket.responses.each do |response| %>

                    <div class="response-content">
                      <p><%= response.user.first_name %></p>
                      <p><%= response.content %></p>
                      <p><%= response.price %></p>
                      <p><%= response.contact %></p>
                    </div>
                  <% end %>

              <% end %>

              <div class="back1">
                <%= link_to dashboard_path do%><i class="fas fa-long-arrow-alt-left"></i><strong>back</strong><% end %>
              </div>

            </div>
          </div>
        </div>
    </div>
  </div>


</div>
