<% provide(:title, "Ticket") %>


<div id="restofpage">

  <%= render 'shared/flashes' %>
  <%= render 'shared/navbar' %>

  <div class="dash-background">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2">
          <div class="ticket-show-card">
            <h2>TICKET # <%=@ticket.id %></h2>




            <p>Created <%= @ticket.created_at.strftime("%b %e, %l:%M %p") %></p>

             <% if @ticket.status == "pending" %>
                <div class="status-pending">
                  <%= @ticket.status %>
                </div>
              <% else %>
                <div class="status-completed">
                  <%= @ticket.status %>
                </div>
              <% end %>


              <%= link_to details_path(@ticket) do %>
                <div type="button" class="info-button">
                  VIEW INFO
                </div>
              <% end %>

  <br><br>

            <% if @ticket.responses.count == 0 %>
              <p>Nobody has answered on this ticket yet</p>
            <% elsif @ticket.responses.count == 1%>
              <p>There is 1 answer to this ticket</p>
              <% if @ticket.user == @user %>
                <p>Please choose your mechanic</p>
              <% end %>
            <% else %>
              <p>There are <%= @ticket.responses.count %> answers to this ticket</p>
              <% if @ticket.user == @user %>
                <p>Please choose your mechanic</p>
              <% end %>
            <% end %>



            <h2>MESSAGES</h2>
              <% @ticket.responses.each do |response| %>
                <%= link_to profile_path(response.user) do%>
                  <div class="response-content">
                    <div class="messagephoto">
                      <% if response.user.photo %>
                        <%= cl_image_tag response.user.photo, height: 100, width: 100, crop: :fill %>
                      <% elsif response.user.facebook_picture_url %>
                        <img src=<%=response.user.facebook_picture_url +"&height=100&width=100"%> alt="profile_pic">
                      <% else %>
                        <%= image_tag("favicon-01.png", height: '100', width: '100') %>
                      <% end %>
                    </div>
                    <div class="responsetextarea">
                      <h5><%= response.user.first_name %> on <%= response.created_at.strftime("%b %d, %Y") %></h5>
                      <p>"<%= response.content %>"</p>
                      <div class="contactmessage">
                        <div><i class="fas fa-dollar-sign"></i><%= response.price %>
                        </div>
                        <div><i class="fas fa-phone"></i><%= response.contact %></p>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>


              <div class="back1">
                <%= link_to dashboard_path do%>
                  <i class="fas fa-long-arrow-alt-left"></i>
                  <strong>back</strong>
                <% end %>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

<script>
    document.querySelectorAll(".navbar-derails")[1].style.backgroundColor = "rgb(242,233,217)";
</script>
